@model IEnumerable<PBDS.Models.EBatDongSan>

@{
    ViewBag.Title = "DSBatDongSan";
    ViewBag.tennhanvien = ViewBag.tennhanvien;
    Layout = "~/Views/Shared/LayoutNhanVien.cshtml";
}

<style>
    #grid .k-grid-content {
        min-height: 440px;
        max-height: 440px;
    }
</style>

<h2>Danh sách bất động sản</h2>

@(Html.Kendo().Grid<PBDS.Models.EBatDongSan>(Model)
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.TenBatDongSan).Title("Tên bất động sản");
                                columns.Bound(p => p.Gia_DonVi).Width(180).Title("Giá");
                                columns.Bound(p => p.DiaChi).Width(200).Title("Địa chỉ");
                                columns.Bound(p => p.TenLoaiBaiDang).Width(150).Title("Loại");
                                columns.Bound(p => p.ID).Template(cp => "<a href=\"javascript: void(0); \" class=\"xem btn btn-info\" data-id=" + cp.ID + ">XEM</a>").Width(150).Title("");
                                
                            })
                            .Pageable()
                            .Sortable()
                            .Scrollable()
                            .HtmlAttributes(new { style = "height:550px;" })
)

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        var URLXem = '/NhanVien/XemBatDongSan';
        $(function () {
            $(".xem").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: URLXem,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>
}