
@{
    ViewBag.Title = "Index";
    ViewBag.tennhanvien = ViewBag.tennhanvien;
    Layout = "~/Views/Shared/LayoutNhanVien.cshtml";
}

<p style="text-align:center;font-size:75px;"><i>Welcome to nhân viên page</i></p>

@section scripts
{}