
@{
    ViewBag.Title = "noKiemTra";
    ViewBag.tennhanvien = ViewBag.tennhanvien;
    Layout = "~/Views/Shared/LayoutNhanVien.cshtml";
}

<p style="text-align:center;font-size:40px;"><i>Chưa có bài kiểm tra</i></p>

@section scripts
{}