
@{
    ViewBag.Title = "Index";
    ViewBag.tensale = ViewBag.tensale;
    Layout = "~/Views/Shared/Layout_Sale.cshtml";
}

<p style="text-align:center;font-size:75px;"><i>Welcome to sale page</i></p>

@section scripts
{}

