
@{
    ViewBag.Title = "Không có kiểm tra";
    ViewBag.tensale = ViewBag.tensale;
    Layout = "~/Views/Shared/Layout_Sale.cshtml";
}

<p style="text-align:center;font-size:40px;"><i>Chưa có bài kiểm tra</i></p>

@section scripts
{}
