@model IEnumerable<PBDS.Models.DIEM>
@{
    ViewBag.Title = "Xem điểm";
    ViewBag.tensale = ViewBag.tensale;
    Layout = "~/Views/Shared/Layout_Sale.cshtml";
}

<p style="text-align:center;font-size:40px;"><i>Xem Điểm</i></p>

@if (Model.Count() == 0)
    {
        <span class="answer-desc">Chưa làm bài kiểm tra nào</span>
    }
    else
    {
        foreach (var diem in Model)
        {
            <li class="" for="">
                <label class="overlabel">
                    <span class="">
                        <span class="answer-desc">Bài thi ngày @diem.NgayThi.ToString(string.Format("dd/MM/yyyy")): @diem.SoDiem/100 Điểm</span>
                    </span>
                </label>
            </li>
        }
    }

@section scripts
{}
