@model IEnumerable<PBDS.Models.EPhanCongSales>
@{
    ViewBag.Title = "TinhLuong";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<style>
    #grid .k-grid-content {
        min-height: 440px;
        max-height: 440px;
    }
</style>

<h4>Lương</h4>

@(Html.Kendo().Grid<PBDS.Models.EPhanCongSales>(Model)
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.TenBatDongSan).Title("Tên bất động sản");
                                columns.Bound(p => p.TenSale).Width(180).Title("Tên Nhân Viên Sale");                                
                                columns.Bound(p => p.GiaBatDongSan).Width(200).Title("Giá bất động sản");
                                columns.Bound(p => p.PhanTramHoaHong_string).Width(180).Title("Phần trăm hoa hồng");                                
                                columns.Bound(p => p.HoaHong).Width(200).Title("Hoa hồng");
                            })
                            .Editable(editable => editable.Mode(GridEditMode.PopUp))
                            .Pageable()
                            .Sortable()
                            .Scrollable()
                            .HtmlAttributes(new { style = "height:550px;" })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(20)
                                .Events(events => events.Error("error_handler"))
                                .Model(model => model.Id(p => p.ID))
                                
                            )
)

@section scripts
{}